@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  background: #060c21;
  font-family: "Poppins", sans-serif;
}
header {
  background: #060c21;
  box-sizing: border-box;
  left: 0;
  margin-left: 15px;
  padding: 0 100px;
  position: absolute;
  top: 0;
  width: 97%;
  border-bottom: 5px solid #ffd700;
}

header .logo {
  color: #fff;
  float: left;
  font-size: 24px;
  font-weight: bold;
  height: 50px;
  line-height: 50px;
}

header nav {
  float: right;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  color: #fff;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  text-decoration: none;
}

header nav ul li a:hover {
  background: #ffd700;
  color: #fff;
  cursor: pointer;
}

main {
  margin-bottom: 80px;
  min-height: calc(100vh - 14rem);
}

/* CARDS */

.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 8rem;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-template-rows: auto;
  grid-gap: 0 40px;
  position: relative;
}

.container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #060c21;
  border: 1px solid #000;
  position: relative;
  height: 300px;
  margin: 0 20px;
}

.container .box:before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: #fff;
  transform: skew(2deg, 2deg);
  z-index: -1;
}

.container .box1:before {
  background: linear-gradient(315deg, #ff0000, #ffc107);
}

.container .box2:before {
  background: linear-gradient(315deg, #ff0000, #ffc107);
}

.container .box3:before {
  background: linear-gradient(315deg, #ff0000, #ffc107);
}

.container .box4:before {
  background: linear-gradient(315deg, #ff0000, #ffc107);
}

.container .box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  pointer-events: none;
}

.content {
  position: relative;
  padding: 20px;
  transform: translateY(20px);
}

.box .content h2 {
  position: absolute;
  top: -50px;
  right: -20px;
  margin: 0;
  padding: 0;
  font-size: 10rem;
  color: rgba(255, 255, 255, 0.05);
  transition: 0.5s;
}

.box:hover .content h2 {
  top: -70px;
}

.box .content h3 {
  margin: 50px 0 10px;
  padding: 0;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
}

.box .content a {
  position: relative;
  margin: 20px 0 0;
  padding: 10px 20px;
  border: 1px solid #fff;
  display: inline-block;
  color: #fff;
  transition: 0.5s;
  transform: translateY(-40px);
  opacity: 0;
  visibility: hidden;
  text-decoration: none;
}

.box:hover .content a {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
}

.box:hover .content a:hover {
  color: #000;
  background: #ffd700;
}

/* FOOTER */

footer {
  border-top: 2px solid #ffd700;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: #060c21;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

footer .footer-triunfo {
  color: #fff;
  text-decoration: none;
}

footer span {
  color: #fff;
}

footer .social a {
  margin-right: 5px;
}

/* EMPRESA */

.about {
  padding: 78px 0px;
  width: 100%;
}

.about img {
  height: auto;
  width: 420px;
}

.about-text {
  width: 550px;
}

.main {
  margin: 70px auto;
  max-width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1130px;
}

.about-text h1 {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.about-text p {
  color: #fcfc;
  letter-spacing: 1px;
  line-height: 20px;
  margin-bottom: 30px;
}

.about-text a {
  background-color: #fcba03;
  color: #fff;
  border: 2px solid #222;
  padding: 10px;
  font-size: 16px;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
}

.about-text a:hover {
  background-color: transparent;
  color: #fff;
}

/* CONTATO */
.about__about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  margin-top: 78px;
  width: 100%;
}

.about__container {
  position: relative;
  /* z-index: 1000; */
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  overflow: hidden;
  backdrop-filter: blur(25px);
}

.about__container::before {
  background: rgba(255, 255, 255, 0.05);
  content: "";
  height: 100%;
  left: -40%;
  pointer-events: none;
  position: absolute;
  top: 0;
  transform: skewX(-15deg);
  width: 100%;
}

.about__container h2 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.about__wpp-section {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  flex-wrap: wrap;
  width: 50%;
}

.about__wpp {
  display: flex;
}

.fa-whatsapp {
  background-color: #25d366;
  border-radius: 50px;
  color: #fff;
  font-size: 50px !important;
  height: 60px;
  padding-top: 10px;
  text-align: center;
  width: 75px;
}

.about__p-contato {
  align-self: center;
  padding-left: 10px;
}

.about__wpp2 {
  padding-top: 30px;
  margin-left: -30px;
}

.about__contato {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

/* PRODUTOS */

.produto_main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
}

.produto__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}

.produto__card {
  position: relative;
  max-width: 270px;
  height: 215px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgb(255 255 255 / 10%);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(25px);
  margin: 30px 10px;
  padding: 20px 15px 25px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  border-radius: 4px;
}

.produto__card:hover {
  height: 370px;
}

.produto__imgBx {
  position: relative;
  width: 230px;
  height: 226px;
  top: -40px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.produto__imgBx img {
  max-width: 100%;
  border-radius: 4px;
}

.produto__imgBx h2 {
  color: #fcba03;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.produto__content {
  position: relative;
  margin-top: -140px;
  padding: 15px 15px;
  text-align: center;
  color: #111;
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.produto__card:hover .produto__content {
  opacity: 1;
  margin-top: -10px;
  transition-delay: 0.3s;
}

/* MEDIA QUERYS */

@media (max-width: 480px) {
  header {
    display: flex;
    justify-content: center;
  }
  header nav {
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    top: 50px;
  }
  header nav ul {
    display: block;
    text-align: center;
  }
  footer {
    font-size: 0.875rem;
    margin-left: -15px;
  }
  footer .social {
    margin-top: 5px;
  }
  .about-text p {
    font-size: 0.75rem;
  }
  .about img {
    width: 350px;
  }
  .about-text {
    text-align: center;
    width: 300px !important;
  }
  .about__about {
    margin-top: 110px;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
  .about img {
    margin-bottom: 20px;
    width: 450px;
  }
  .about-text {
    width: 450px;
  }
  .about__about {
    margin-bottom: 0;
  }
}

@media (max-width: 960px) {
  section {
    flex-wrap: wrap;
  }
  .container {
    margin-bottom: 20px;
  }
  .about-text p {
    font-size: 0.875rem;
  }
  .about img {
    width: 350px;
  }
  .about__about {
    margin-bottom: 80px;
  }
  .about__wpp-section {
    flex-direction: column;
  }
  .about__wpp {
    padding-bottom: 10px;
  }
  .about__wpp2 {
    padding-top: 10px;
    margin-left: 0;
  }
}
